{
  "include": ["src/**"],
  "exclude": ["src/dummy.ts"],
  "all": true,
  "reporter": [
    "text",
    // "lcov",
    // "jsc",
    "v8",
    "lcovonly"
    // "html",
    // "html-spa",
    // "json",
    // "text-summary",
    // "text-lcov",
    // "teamcity",
    // "json-summary",
    // "cobertura",
    // "clover",
  ],
  "hyperlinks": "vscode",
  "checkCoverage": true,
  "statements": 80.64,
  "functions": 96.42,
  "lines": 80.64
}
